# Open Stata from Python + Jupyter Notebooks

## The following code is for Stata verions < 17. The (now) most recent 17 version makes it easier by using PyStata: https://www.stata.com/stata-news/news36-3/pystata-and-jupyter-notebook/ 

#### Author: Angelo Cozzubo
#### Date creation: Jan28th, 2022
#### Last update: Jan28th, 2022

In [1]:
!pip install ipystata

Requirement already satisfied: ipystata in c:\users\haguirre\anaconda3\lib\site-packages (0.4.3)

In [2]:
import ipystata
import pandas as pd

## 0. Make sure Stata works
### More help here: https://github.com/TiesdeKok/ipystata

In [3]:
%%stata
display "Hello, I am printed by Stata."

Hello, I am printed by Stata.

# 1. Load sample data

In [4]:
%%stata -o car_df
sysuse auto.dta, clear

(1978 Automobile Data)

# 2. Stata commands

In [5]:
%%stata -d car_df
tabulate foreign headroom

           |                                        headroom
   foreign |       1.5          2        2.5          3        3.5          4        4.5          5 |     Total
-----------+----------------------------------------------------------------------------------------+----------
  Domestic |         3         10          4          7         13         10          4          1 |        52
   Foreign |         1          3         10          6          2          0          0          0 |        22
-----------+----------------------------------------------------------------------------------------+----------
     Total |         4         13         14         13         15         10          4          1 |        74

# 3. Pandas command

In [6]:
car_df.head()

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
0,AMC Concord,4099,22,3.0,2.5,11,2930,186,40,121,3.58,Domestic
1,AMC Pacer,4749,17,3.0,3.0,11,3350,173,40,258,2.53,Domestic
2,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
3,Buick Century,4816,20,3.0,4.5,16,3250,196,40,196,2.93,Domestic
4,Buick Electra,7827,15,4.0,4.0,20,4080,222,43,350,2.41,Domestic